@font-face {
  font-family: "OpenSans";
  src:url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src:url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

  * {
  margin: 0;
    padding: 0;
}


.header {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: #cccccc;
  color: #ffffff;
  max-width: 1660px;
  /*min-width: 1201px;*/
  min-height:450px;
  margin-left: auto;
  margin-right: auto;
}

.header::after {
content: "" ;
position: absolute;
display: block;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: #000;
opacity: 0.5;
z-index: 1;
}

.menu__button {
display: none;
width: 22px;
height: 19px;
border: none;
padding: 0;
background-color: transparent;
font-size: 25px;
position: relative;
text-indent: -9999px;
margin-top: 53px;
}

.menu__button_label {
width: 100%;
height: 3px;
margin-top: -0.1em;
border-radius: 5px;
background-color: white;
position: absolute;
left: 0;
top: 50%;
z-index: 2;
}

.menu__button:before {
    content: "";
    width: 100%;
    height: 3px;
    /*margin-bottom:5px ;*/
    border-radius: 5px;
    background-color: white;
    position: absolute;
    left: 0;
z-index: 2;
top: 0;
  }

.menu__button:after {
  content: "";
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    /*margin-top: 5px;*/
    left: 0;
z-index: 2;
bottom: 0;
}

.header_text {
  margin: 0 auto ;
  max-width: 1201px;
  box-sizing: border-box;
  
}

.menu {
  display: flex;
  font-family: "OpenSans";
   font-weight: normal;
  font-style: normal;
  justify-content: space-between;
  
  }


.logo {
  width: 179px;
  margin-top: 25px;
  margin-left: 15px;
  position: relative;
  z-index: 2;
  }

.menu-list {
  display: flex;
  margin-left: 526px;
  margin-right: 18px;
  list-style-type: none;
  text-align: right;
  margin-top: 35px;
  z-index: 2;
}

.menu_indentation {
  margin-left: 35px;
}

.item {
  color: #ffffff;
   font-family: "OpenSans", arial;
  font-weight: normal;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
  
.menu_item:hover {
  text-decoration: underline;
}
  


.heading {
  text-align: center;
  margin-top: 100px;
  margin-left: 245px;
  margin-right: 245px;

}

.heading__base {
  z-index: 2;
  color: #ffffff;
  position: relative;
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  }


.actual {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	max-width: 1660px;
	height: 122px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-top: 55px;

}

.actual_bottom {
  padding-top: 65px;
}

.actual_trend {
	font-family: "OpenSans", arial;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}


.actual_trend:after {
    content: '';
    display: block;
    height: 3px; /* Высота линии */
    background: #e1d9bd; /* Цвет линии */
    width: 65px; /* Ширина линии до наведения */
    margin: 10px auto 0; /* Отступ с боков по центру и сверху */
}

.trend_bottom {
  
}

.actual_post {
	display: flex;
	flex-wrap: nowrap;
	max-width: 1660px;
  margin-left: auto;
  margin-right: auto;
  align-items: stretch;
}

.actual_baner {
	position: relative;
	box-sizing: border-box;
  min-height: 320px;
  background-size: cover;
  width: 25%;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: black;
  background-color: #606260;
}

.actual_baner::after {
content: "" ;
position: absolute;
display: block;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: black;
opacity: 0.5;
z-index: 1;
}

.actual_a {
  background-image: url(../images/trend1.jpg);
}

.actual_b{
  background-image: url(../images/trend2.jpg);
}

.actual_c {
  background-image: url(../images/trend3.jpg);
}

.actual_d {
  background-image: url(../images/trend4.jpg);
}



.actual_retreat {
	margin-left: 4px;
}

.actual_base {
	/*position: absolute;
	border: 3px solid #b59f5b;
	bottom: 15px;
	left: 34px; 
	right: 23px;
	z-index: 2;
	box-sizing: border-box;
	padding-top:40px ;
	flex-grow: 1;*/
  border: 3px solid #b59f5b;
  z-index: 2;
  margin: 0px 25px 20px 20px;
    padding-top: 24px;
}
	

	.actual_list {
	    list-style-type: none;
		display: flex;
		/*margin-top: 40px;*/
		margin-left: 34px;
		
	}

	.actual_heading {
	font-family: "OpenSans", arial;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 34px;
     line-height: 24px;
     z-index: 2;
	}

.actual_heading:hover {
  color: #b59f5b;
}


	.point_actual:nth-child(n+2) {
margin-left: 20px;
	}

	.point_actual:hover {
  text-decoration: underline;
}

.point_actual_a {

	 color: #ffffff;
   font-family: "OpenSans", arial;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  z-index: 2;

}

.base {
  display: flex;
  max-width: 1200px; 
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.articles {
  width: 778px;
  margin-left: 15px;
}

.information {
  width: 272px;
  border: solid;
  margin-right: 15px;
  margin-left: 120px;
}

.article {
  display: flex;
  
}

.card_indentation {
  margin-top: 60px;
}

.banner {
min-width: 381px;
  height: 293px;
  background-color: #eff6f1;
  color: #000000;
  
  max-height: 294px;
}

.preview {
 
  max-width: 367px;
  margin-left: 30px;
}

.preview_header {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  
}

.preview_item {
 color: #b59f5b;
  font-size: 14px;
  text-decoration: none;
  font-family: "OpenSans", arial;
  font-weight: bold;
  text-transform: uppercase;
}

.preview_item_a:nth-child(n+2) {
 margin-left: 20px;
  
}

.preview_item:hover {
  text-decoration: underline;
}

.preview_heading_a {
  /*margin-top: 6px;*/
}
.preview_heading {
  text-decoration: none;
  font-family: "OpenSans", arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.preview_heading:hover {
  color: #b59f5b;
}

.preview_date_a {
  margin-top: 25px;
  
}

.preview_date_author {
  display: flex;
}

.preview_date {
   font-family: "OpenSans", arial;
  font-weight: normal;
  font-size: 12px;
  color: #9b9b9b;
}

.author {
  
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 12px;
  margin-left: 15px;
}

.preview_text {
  margin-top: 50px;
  
  }

.text {
  font-family: "OpenSans", arial;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}



.text_music {
 margin-top: 10px;
  font-family: "OpenSans", arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.aside_base {
  width: 272px;
  margin-left: 120px;
  margin-right: 15px;
 margin-bottom: 5px;
}

.aside_heading {
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.aside_heading:after {
    content: '';
    display: block;
    height: 3px; /* Высота линии */
    background: #e1d9bd; /* Цвет линии */
    width: 65px; /* Ширина линии до наведения */
    margin: 7px auto 0; /* Отступ с боков по центру и сверху */
}

.aside_heading:nth-child(n+2) {
  margin-top: 61px;
}

.aside_article {
  display: flex;
  margin-left: 1px;
  margin-right: 1px;
}

.aside_article:nth-child(1) {
  margin-top: 29px;
}

.aside_article:nth-child(n+2) {
  margin-top: 21px;
}

 .aside_banner {
   width: 70px;
   height: 70px;
   background-color: #cccccc;
   color: #ffffff;
  } 

.aside_news {
  margin-left: 19px;
}

.aside_date {
  font-family: "OpenSans", arial;
  font-weight: normal;
  font-size: 12px;
  color: #a9a9a9;
  margin-bottom: 5px;
}

.aside_news_heading {
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 14px;
}

.aside_link {
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.aside_link:hover {
 color: #b59f5b;
}

.form-row {
  display: flex;
  margin-top: 60px;
  width: 270px;
}

.search {
  width: 204px;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  padding-left: 18px;
  border: 1px solid #f4f7f6;
}

.search:focus {
  background: #f4f7f6;
  outline: 0;
  border: 1px solid #b59f5b;
}

.submit {
  background-image: url("../svg/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
 width: 48px;
 height: 48px; 
  border: none;
}
.mail_base {
  padding-top: 61px; 
  margin-left: 1px;
  margin-right: 1px;
}

.mail {
  margin-top: 23px;
}

.send_mail {
  width: 248px;
  height: 48px;
  padding-left: 20px;
  border: none;
  background-color: #f4f7f6;
  font-family: "OpenSans", arial;
  font-weight: normal;
  font-size: 13px;
}
 
.send_mail:focus {
  background-color: #f4f7f6;
  outline: 0;
  border: 1px solid #b59f5b;
}
	
.submit_mail {
  margin-top: 18px;
  width: 268px;
  height: 48px;
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background: #b59f5b;
  border: none;
  color: white;
}

.submit_mail:hover { 
  background-color: #323232;
}

.direction_base {
  margin-left: 1px;
  margin-right: 1px;
  padding-top: 61px;
}

.directions {
  display: flex;
  margin-top: 24px;
  max-width: 272px;
  margin-left: 1px;
  list-style-type: none;
   flex-wrap: wrap;
}

.li_directions {
   outline-style: solid;
 outline-color: #eeeeee;
  outline-width: 3px;
  border: none;
 margin-right: 12px;
  margin-top: 12px;
  text-align: center;
}

.li_directions:hover {
outline-color: #b59f5b;
}

  .direction_a {
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-decoration: none;
  padding-left: 13px;
  padding-right: 13px;
  text-transform: uppercase;
  }

.themes_base {
  padding-top: 61px;
  margin-left: 1px;
  margin-right: 1px;
}

.themes {
  margin-left: 1px;
  margin-right: 1px;
  list-style-type: none;
    margin-top: 20px;
}

.themes_a {
  font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
}
.themes_a:hover {
  color: #e1d9bd;
}
.themes_a:after {
    content: '';
    display: block;
    height: 1px; /* Высота линии */
    background: #eeeeee; /* Цвет линии */
    
    margin-top: 10px; /* Отступ с боков по центру и сверху */
}

.li_themes:nth-child(n+2) {
  margin-top: 15px;
}

.themes_quantity {
vertical-align: super;
  font-size: 12px;
  color: #e1d9bd;
  margin-left: 5px;
}


.handmade {
	max-width: 1170px;
	display: flex;
	justify-content: space-between;
	margin : 0 auto;
	/*align-items: flex-end;*/
}

.handmade_product {
	box-sizing: border-box;
	max-width: 345px;
	display: flex;
	flex-direction: column;
}

.handmade_picture {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -30px;
}

.handmade_base {
	box-sizing: border-box;
	padding-top: 50px;
	padding-bottom: 25px;
	padding-left: 20px;
	border: 3px #b59f5b solid;
	flex-grow: 1;
	
}

.handmade_heading {
	font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
}


.handmade_text {
	margin-right: 60px;
	/*margin-top: 15px;*/
	font-family: "OpenSans", arial;
  font-weight: normal;
  font-size: 15px;
  color: black;
  line-height: 22px;
}

.handmade_link {
	color: #b59f5b;
	text-decoration: none

}
.purchase {
	display: flex;
	margin-top: 27px;
	justify-content: space-between;
	margin-right: 20px;
	align-items: flex-end;
}

.price {
	display: flex;
	flex-direction: column;
}

.price_value {

}

.price_old  {
    font-family: "OpenSans", arial;
    font-weight: bold;
    font-size: 14px;
}

.price_rub_old {
	font-family: "OpenSans", arial;
    font-weight: bold;
    font-size: 14px;
}

.price_new  {
    font-family: "OpenSans", arial;
    font-weight: bold;
    font-size: 20px;
}

.price_rub_new {
	font-family: "OpenSans", arial;
    font-weight: bold;
    font-size: 20px;
}

.in_shop {
	background-color: #b59f5b;
    border: none;
    color: white;
    padding: 15px 30px 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 14px;
    font-family: "OpenSans", arial;
    font-weight: bold;

} 

.in_shop:hover {
  background-color: #323232;
}

.bottom {
  margin: 64px auto ;
 max-width: 1200px;
  height: 83px;
  
  
}

.basement {
 margin-left: 15px; 
  margin-right: 15px;
  width: 1170px;
  height: 83px;
 background-color: #f4f7f6;

}

.list_icons {
  display: flex;
  list-style-type: none;
   margin-top: 15px;
  align-items: center;
   justify-content: center;
  
}

.point {
  display: flex;
   margin-top: 30px;
}

.social-icons {
  width: 20px;
  height: 20px;
 background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  
}


.social-icons-dribbble {
  background-image: url("../svg/001-dribbble.svg");
 margin-right: 28px;  

}

.social-icons-pinterest {
  background-image: url("../svg/002-pinterest.svg");
 
}

.social-icons-tumblr {
  background-image: url("../svg/003-tumblr.svg");
  margin-left: 25px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.owner {
  margin-top: 73px;
  text-align: center;
  
}

.license {
font-family: "OpenSans", arial;
  font-weight: bold;
  font-size: 12px;
  color: #b0b0b0;
}

.license-a {
  text-decoration: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup_content {
  width: 390px;
  height: 590px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.cross {
  position: absolute;
  color: #fff;
  right: 0px;
  top: -40px;
  font-size: 40px;
  /*background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;*/
}

.popup_close:checked + .popup {
  display: flex;
}


  .popup_base {
    margin-left: 30px;
    margin-right: 30px;
}


.popup_heading {
  font-family: "OpenSans", arial;
  font-size: 20px;
  font-weight: bold;
  margin-top: 45px;
  text-align: center;
  text-transform: uppercase;
}

.popup_heading:after {
    content: '';
    display: block;
    height: 3px; /* Высота линии */
    background: #e1d9bd; /* Цвет линии */
    width: 65px; /* Ширина линии до наведения */
    margin: 5px auto 0; /* Отступ с боков по центру и сверху */
  }

  .answer_form {
    margin-top: 32px;

  }

  .form_heading {
    font-family: "OpenSans", arial;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-right: 15px;
  }

.survey_answer {
  width: 330px;
  height: 48px;
  padding-left: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-position: right 15px top 10px;
  background-size: 10px 15px;
  background-repeat: no-repeat;
  border: none;
}

.survey_answer:focus {
  outline:1px solid #b59f5b;
}
  .answer_option {
  font-family: "OpenSans", arial;
  font-size: 13px;
  font-weight: normal;

  }

  .form_mail {
    margin-top: 20px;

  }

  .form_content {
    margin-top: 30px;
  }

.survey_mail:nth-child(n+2) {
  margin-left: 15px;
}

.choice_mail {
  font-family: "OpenSans", arial;
  font-size: 13px;
  font-weight: normal;
}

.choice_mail:before {
  content: "";
  background-image: url(../svg/form-empty-circle.svg);
  display: inline-block;
  width: 17px;
  height: 17px;
  background-size: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.answer_mail {
  display: none;
}

.answer_mail:checked + .choice_mail:before {
  content: "";
  background-image: url(../svg/form-circle.svg);
  display: inline-block;
  width: 17px;
  height: 17px;
  background-size: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.survey_content {
width: 330px;
height: 130px;
resize: none;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
    outline: none;
  font-family: "OpenSans", arial;
  font-size: 13px;
  font-weight: normal;
  padding-top: 15px;
  padding-left: 20px;
  box-sizing: border-box;

}

  .form_button {
    font-family: "OpenSans", arial;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background: #b59f5b;
  width: 328px;
  height: 48px;
  margin-top: 22px;
  margin-bottom: 54px;
  }

  .form_button:hover {
    background-color: #323232;
  }



@media (min-width: 641px) and (max-width: 1200px) {
  
  .header {
    /*position: relative;*/
    background-image: url(../images/banner-bg-tablet.jpg);
    min-height: 390px;
    /*background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;*/
  }

  /*.header::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
    }*/

 .header_text {
  min-width: 571px;
 }


  .menu {
    display: flex;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
}

.logo {
  width: 157px;
  margin-left: 0px;
  margin-top: 45px;
}

.menu__button {
  display: block;
}

.menu-list {
  display: none;
}

.heading__base {
  font-size: 40px;
  line-height: 55px;
  }

.heading {
  margin-top: 85px;
  margin-left: 60px;
 margin-right: 60px;
}

  
.actual {
  height: 100px;
  padding-top: 45px;
}

.actual_bottom {
  height: 55px;
  padding-top: 0px;
}

.actual_trend {
  font-size: 18px;
}
  
.actual_post {
  flex-wrap: wrap;
  justify-content: space-between;
}

.actual_heading {
  font-size: 17px;
  margin-left: 31px;
  margin-top: 0px;
  margin-bottom: 27px;
  line-height: 22px;
}

.actual_baner {
  min-height: 245px;
  width: 49%;
  margin-left: 0px;
}
  .actual_b .actual_d {
  margin-left: 4px;
}
 

.actual_baner:nth-child(3) {
  margin-left: 0px;
}
.actual_c {
  margin-left: 0px;
}

.actual_baner:nth-child(-n+2) {
  margin-bottom: 4px;

}

.actual_baner:nth-child(2n) {
  margin-left: 5px;
}

.actual_base {
 margin: 0px 15px 13px 15px;
 padding-top: 35px;
}

.actual_list {
  margin-left: 29px;
  margin-bottom: 5px;
}
  
.base {
  
  max-width: 698px; 
  margin-top: 55px;
  margin-left:auto;
  margin-right: auto;
  
}

.articles {
  /*max-width: 391px;
  min-width: 200px;*/
  width: 100%;
  margin-left: 0px;
}

.article {
  flex-direction: column;

}

.article:nth-child(n+2) {
  margin-top: 0px;
}

.banner {
  /*max-width: 100%;*/
  min-width: 390px;
  min-height: 300px;
  background-color: #eff6f1;
  color: #000000;
  
 
}


.preview {
 
  margin-left: 0px;
  margin-top: 15px;
}

.preview_header {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}


.preview_item:hover {
  text-decoration: underline;
}

.preview_heading_a {
  margin-top: 5px;
  line-height: 22px;
}

.preview_heading {
  font-size: 17px;
  line-height: 22px;
}

.preview_date_a {
  margin-top: 30px;
}

.preview_date_author {
  display: flex;
}


.author {
  margin-left: 15px;
}

.preview_text {
  margin-top: 25px;
  }

  .preview::after {
    content: '';
    display: block;
    height: 3px; /* Высота линии */
    background: #eeeeee; /* Цвет линии */
      margin-top: 30px;
    margin-bottom: 33px; 
    max-width: 390px;
}


.aside_base {
  margin-left: 35px;
  margin-right: 0px;
}
  .aside_heading {
    margin-bottom: 25px;
  }

.aside_news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aside_article:nth-child(n+2) {
  margin-top: 19px;
}

.li_themes:nth-child(n+2) {
  margin-top: 13px;
}

.direction_base {
  padding-top: 55px;
}

.li_directions {
  margin-top: 12px;
}

.direction_a {
  padding-bottom: 10px;
}

.themes_base {
  padding-top: 70px;
}

.handmade {
  max-width: 698px;
  display: flex;
  flex-wrap: wrap;
  margin : 0 auto;
  
}

.handmade_product {
  box-sizing: border-box;
  max-width: 49%;
  
}

.handmade_heading {
  font-size: 17px;
  line-height: 22px;
}

.handmade_text {
  margin-right: 20px;
  font-size: 15px;
}

.purchase {
  align-items: center;
  margin-top: 23px;
}

.handmade_base {
padding-bottom: 22px;

}

.handmade_product:nth-child(4n+3) {
  margin-top: 28px;
}

.bottom {
  margin: 50px auto ;
 max-width: 1200px;
  height: 83px;
}

.basement {
 margin-left: 0px; 
  margin-right: 0px;
  width: 100% ;
}

.popup_heading{
  font-size: 18px;
}
.answer_form {
  margin-top: 28px;
}

.form_heading {
  margin-bottom: 28px;
}

.cross {
  width: 30px;
  height: 30px;
  font-size: 30px;
  right: -15px;
  top: -28px;
}

.owner {
  margin-top: 45px;
}
.popup_content {
  width: 315px;
  height: 480px;
}

.cross {
  font-size: 50px;
  right: -5px;
  top: -48px;
}

.popup_heading {
  font-size: 14px;
    margin-top: 40px;
}

.popup_heading:after {
  width: 52px;
    margin: 8px auto 0;
}

.form_heading {
  font-size: 10px;
  margin-bottom: 10px;
}

.popup_base {
  margin-left: 24px;
}

.answer_form {
 margin-top: 20px;
}

.survey_answer {
  width: 265px;
  height: 35px;
  /*padding-top: 2px;
  padding-bottom: 0px;*/
  background-position: right 10px top 10px;
  padding-top: 6px;
  font-size: 11px;
}

.survey_mail:nth-child(n+2) {
  margin-left: 25px;
}

.form_content {
  margin-top: 25px;
}

.survey_content {
    width: 265px;
    height: 100px;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 10px;
  }

  .form_button {
    width: 265px;
    margin-top: 18px;
    height: 38px;
        padding-bottom: 5px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {

  .actual_post {
  /*flex-wrap: nowrap;*/
}

.actual_baner {
  min-height: 245px;
  width: 24%;
}
  .actual_post:nth-child(n+1) {
    margin-left: 4px;
  }
}


@media (max-width: 640px) {
  
.header {
  background-image: url(../images/banner-mobile.jpg);
  background-size: 100% 638px;
  background-repeat: no-repeat;
  position: relative;
  background-color: #cccccc;
  height: 638px;
}

.header::after {
content: "" ;
position: absolute;
display: block;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: black;
opacity: 0.5;
z-index: 1;
}



  .actual_post {
    flex-direction: column;
  }
  .actual_baner {
    width: 100%;
  }

  .base {
    display: flex;
    flex-direction: column;
  }

.articles {
width: 100%;
}

  .article {
    display: flex;
    flex-direction: column;
  }

  .article:nth-child(n+2) {
    margin-top: 0px;
  }

  .article:after {
    content: '';
    display: block;
    height: 3px; /* Высота линии */
    background: #eeeeee; /* Цвет линии */
      margin-top: 25px;
    margin-bottom: 35px; 
} 

  .banner {
    max-width: 100%;
  }

  .header_text {
    margin-left: 15px;
    margin-right: 15px;
  }

  .menu {
    height: 286px;
    flex-direction: column-reverse;
    align-items: center;
    /*justify-content: space-between;*/
    position: relative;

  }

  .menu__button {
  display: block;
  position: absolute;
  top: 30px;
  right: 0px;
  margin-top: 0px;
}

  .menu_list {
    display: none;
  }
  .menu_item {
    display: none;
  }

  .logo {
    width: 270px;
    margin-left: 0px;
  }

  .heading {
    margin-top: 35px;
   margin-left: 25px;
   margin-right: 25px;

  }

  .heading__base {
    font-size: 26px;
    line-height: 36px;
    /*width: 270px;*/
    /*justify-content: center;*/
  }


  .actual_baner {
    min-height: 232px;
  }

.actual_trend {
  font-size: 16px;
}

.actual {
  padding-top: 40px;
  height: 95px;
}

.actual_base {
  margin: 0px 15px 15px 15px;
}



.actual_heading {
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.base_a {
  margin-right: 100px;
}

.base_b {
  margin-right: 5px;
}

.base_c {
  margin-right: 12px;
  padding-right: 10px;

}



.actual_list {
  margin-left: 20px;
}

  .actual_baner:nth-child(n+2) {
    margin-left: 0px;
    margin-top: 3px;
  }

  .base {
    margin-top: 40px;
  }

.articles {
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.banner{
  width: 330px;
min-width: 300px;
height: 255px;
}

  .preview {
margin-left: 0px;
margin-top: 10px;
width: 330px;
  }

  .preview_heading {
    font-size: 16px;
    line-height: 20px;
  }

  .text {
    line-height: 20px;
  }

  .preview_heading_a {
    margin-top: 0px;
  }

  .preview_date_a {
    margin-top: 11px;
  }



.preview_text {
  margin-top: 15px;
  margin-right: 5px;
}

.text {
  font-size: 14px;
}

.article:after {
  margin-top: 20px;
  width: 330px;
}

.text_music {
  margin-top: 3px;
}

.aside_heading {
font-size: 16px;
width: calc(100% - 30px);

}

.aside_heading:after {
  margin-top: 10px;
}

  .aside_base {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    width: 100%;
  }

  .aside_article {
    width: 100%;
    margin-top: 25px;
  }

  .aside_article:nth-child(n+2):after {
    margin-top: 22px;
  }

 .aside_news {
    width: calc(100% - 90px);
    margin-left: 20px;
  }
  .aside_link {
    font-size: 14px;
  }

  .form-row {
    width: calc(100% - 30px);
    padding-left: auto;
    padding-right: auto;
    padding: 0px;
    margin-top: 70px;
  }

  .search {
    padding-left:15px;
    width: 100%;
    flex-grow: 1;
  }

  .submit {
    flex-grow: 0;
  }
  .hz {
    width: calc(100% - 50px) ;
  }

  .mail_base {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 40px;
  }
  .send_mail {
    /*padding-left: 0px;*/
    width: calc(100% - 30px);
  }
  .submit_mail {
    width: calc(100% - 30px);
  }

  .direction_base {
    padding-top: 35px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .directions {
    max-width: calc(100% - 30px);
    margin-top: 18px;
  }

  .li_directions {
    margin-right: 5px;
    margin-top: 15px;
  }

  .themes_base {
    padding-top: 45px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .actual_bottom {
    width: 100%;
    padding-top: 35px;
  }

  .handmade {
    flex-wrap: wrap;
    justify-content: center;
  }

  .handmade_heading {
    font-size: 17px;
  }
  
  .handmade_base {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-left: 18px;
    padding-right: 15px;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: -5px;
    
  }

  .handmade_text {
    margin-right: 0px;
    
  }

  .purchase {
    margin-top: 20px;
    margin-right: 6px;
  }

  .list_icons {
   margin-top: 20px;
}
  .handmade_product {
    width: 100%;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .bottom {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    
  }
  .basement {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .owner {
    margin-top: 45px;
  }


  .popup_content {
width:265px ;
height: 435px;
  }
  .cross {
  right: -4px;
    top: -48px;
    font-size: 55px;
  }
.popup_base {
  margin-left: 20px;
  margin-right: 20px;
}

.popup_heading {
  font-size: 13px;
  margin-top: 20px;

}

.popup_heading:after {
  width: 55px;
  margin-top: 6px;
}

.answer_form {
  margin-top: 20px;
}

.form_heading {
  font-size: 10px;
}

.survey_answer {
  width: 225px;
  height: 30px;
  padding-bottom: 0px;
  font-size: 11px;
  background-position: right 11px top 10px;
}
.form_mail {
  margin-top: 30px;
}

.survey_mail:nth-child(n+2) {
  margin-left: 25px;
}

.form_content {
  margin-top: 22px;
}
 
 .survey_content {
  width: 225px;
  height: 100px;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 15px;
 }

 .form_button {
  width: 225px;
  height: 35px;
  font-size: 12px;
 }

}

@media (max-width: 640px) and (orientation: landscape) {

  .actual_post {
  flex-wrap: wrap;
  flex-direction: row;
}

.actual_baner {
  min-height: 245px;
  max-height: 350px;
  width: 49%;
  position: relative;
  display: flex;
}
  .actual_baner:nth-child(2n) {
    margin-left: 4px;
  }


}




